.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 25px;
  height: 100%;
  height: 415px;
}

.carousel-image {
  height: 415px;
  width: 100%;
  object-fit: cover;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.left-arrow {
  left: 20px;
}

.right-arrow {
  right: 20px;
}
.pagination {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.01);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

@media screen and (max-width: 700px) {
  .arrow {
    width: 5%;
  }
  .carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 25px;
    height: 100%;
    height: 255px;
  }

  .carousel-image {
    width: 100%;
    height: 255px;
  }
}
