.dropdown {
  border-radius: 5px;
  margin-bottom: 35px;
  text-align: left;
}

.header-dropdown {
  align-items: center;
  background-color: #ff6060;
  border-radius: 5px;
  display: inline-flex;
  max-height: 52px;
  width: 100%;
}

.titre-dropdown {
  color: #ffffff;
  line-height: 50px;
  padding: 5px 10px;
  font-size: 1.125em;
  font-style: normal;
  font-weight: 500;
  width: 94%;
}

.fleche-dropdown {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  transition: transform 0.3s ease;
  width: 5%;
}
.fleche-dropdown:hover {
  cursor: pointer;
}

.fleche-dropdown.open {
  justify-content: start;
  transform: rotate(-180deg);
}

.description-dropdown {
  background-color: #f6f6f6;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #ff6060;
  font-size: 18px;
  height: 75%;
  margin-top: -10px;
  min-height: 100px;
  padding: 25px 15px 10px 15px;
}

@media screen and (max-width: 700px) {
  .titre-dropdown {
    font-size: 1.21em;
  }

  .fleche-dropdown img {
    width: 25px;
  }
  .header-dropdown {
    border-radius: 5px;
    height: 25%;
    min-height: 40px;
  }

  .titre-dropdown {
    font-size: 15px;
  }
  .dropdown {
    border-radius: 5px;
    margin-bottom: 0px;
    text-align: left;
  }

  .description-dropdown {
    background-color: #f6f6f6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #ff6060;
    font-size: 18px;
    height: 75%;
    margin-top: -10px;
    min-height: 100px;
    padding: 20px 15px 10px 15px;
  }
}
