.mainPage{
  text-align: center;
  width: 85%;
  margin: auto;  
}

.titrePage{
  color: #ff6060;
  font-size: 200px;
  margin: auto;
  margin-top: 100px;
}

.descriptionError{
  color: #ff6060;
  display: block;
  font-size: 25px;
  margin-top: 100px;
}

.lienHome {
  color: #ff6060;
  display: block;
  margin-top: 100px;
  margin-bottom: 90px;
}
@media screen and (max-width: 700px) {

  .titrePage{
    margin-top: 60px;
    font-size: 100px;
  }
  
  .descriptionError{
    color: #ff6060;
    display: block;
    font-size: 20px;
    margin-top: 100px;
  }
  
  .lienHome {
    font-size: 16px;
  }

}