.mainFiche{
    width: 86%;
    margin: auto;
}

.description-equipements{
    display: inline-flex;
    gap: 0 75px;
    line-height: 22.5px;
    list-style: none;
    margin-top: 25px;
    width: 100%;
}

.description-equipements > .dropdown {
    width: 50%;
}
