
.footerSection {
background: #000;
color: #FFFFFF;
width: 100%;
margin-top: 40px;
}

.footerContainer {
display: flex;
padding: 60px 0px 30px 0px;
flex-direction: column;
align-items: center;
max-width: 1440px;
gap: 29px;
}