.mainHome {
  width: 90%;
  margin: auto;
  max-width: 1240px;
}

.listCard {
  background-color: #f6f6f6;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 47px;
  padding: 50px;
}

@media screen  and (max-width: 768px) {
  .listCard {
    background-color: unset;
    gap: 20px 0;
    grid-template-columns: 1fr;
    padding: 0;
  }
}
